<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="mb-3 "
    id="notes">
      <label for="exampleInputEmail1" class="form-label"
      >Title</label>
      <input type="title" class="form-control" id="title"
      (ngModel)="title"
      name="title" 
      required 
      #title="ngModel">
      <div *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert">Title is required!!</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label"
      >Description</label>
      <textarea type="description" class="form-control" id="description"
      ngModel
      description
      #description="ngModel" 
      name="description" required></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)"
    class="alert">Description is required!!</div>
    </div>
    <button type="submit" class="btn shadow p-2 mb-5 bg-body rounded" [disabled]="!f.valid">Add Note</button>
  </form>
