<div class="card" style="max-height: 13rem;" *ngFor="let note of notes">
    <div class="card-body">
        <h3 class="card-title">{{note.title}} </h3>
        <p  class="card-text">{{note.description}} </p>
        <div>
          <button type="button" class="btn btn-primary shadow p-2 mb-5 me-3 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickedNote(note)">
            Update
          </button>
            
            <button class="btn btn-danger shadow p-2 mb-5 rounded" (click)="onDelete(note)">Delete</button> 

          
           
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Notes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="mb-3 "
          id="note">
            <label for="exampleInputEmail1" class="form-label"
            >Title</label>
            <input type="title" class="form-control" id="title"
            [(ngModel)]="title"
            name="title" 
           >
          </div>
          <div class="mb-3">
            <label for="description" class="form-label"
            >Description</label>
            <textarea type="description" class="form-control" id="description"
            [(ngModel)]="description"
            
            name="description" ></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" >Update</button>
          
          </div>
        </form>
      
      </div>
     
    </div>
  </div>
</div>
